body{
    background-color: rgb(252, 248, 248);
    font-family: 'Roboto',sans-serif;
}
.signup-box{
    width: 440px;
    height: 680px;
    margin: auto;
    background-color: white;
    border-radius: 3px;

   
   
}

h2{
    text-align: center;
    padding-top: 15px;
}
h4{
    text-align: center;
    padding-top: 5px; 
}

form{
    width: 300px;
    margin-left: 40px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border:none;
    border:  1px solid grey;
   line-height: 40px;
    outline: none;
}

input[type="submit"]{
    width: 320px;
    height: 45px;
    margin-top: 20px;
    border: none;
    background-color: #c7003d;
    color: white;
    font-size: 18px;

}
p{
    text-align: center;
    padding-top: 100px;
    font-size: 15px;

}

.para-2{
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: -10px;

}
.para-2 a{
    color: blue;
}

.login-box{
width: 400px;
height: 550px;
margin: auto;
border-radius: 3px;
background-color: white;

}
.form-outlet{
padding-left: 20px;
}
.top{
    text-align: center;
 margin-top: 30px;
}

.online-login img{
    width: 70px;
    height: 70px;
    text-align: center;
    padding-left: 80px;
}
.or{
    text-align: center;
    color: grey;
}

