<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/css/footer.css" type='text/css'>
  <link rel="stylesheet" href="/css/navbar.css" type='text/css'>
  <link rel="icon" type="image/ico" href="https://www.snapdeal.com/img/icons/finalFavicon.ico">
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <style>
      .cart {
        margin: auto;
        width: 1000px;
        text-align: center;
        margin-top: 64px;
      }
      .head {
        font-size: 20px;
        font-family: "Quicksand", sans-serif;
        font-weight: 500;
        color: #868e96;
      }
      .top {
        margin-bottom: 50px;
      }
      .categories {
        text-align: left;
        display: flex;
        gap: 12%;
        margin-top: 50px;
      }
      .categories div {
        cursor: pointer;
        margin-bottom: 16px;
        color: #495057;
      }
      button {
        color: #fff;
        background-color: #d9480f;
        border: none;
        font-size: 20px;
        padding: 10px 24px;
      }
    </style>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="cart">
      <div class="head top">Shopping Cart Is empty!</div>
      <div class="head">BROWSE CATEGORIES</div>
      <div class="categories">
        <div class="col">
          <div>- Appliances</div>
          <div>- Cameras & Accessories</div>
          <div>- Gaming</div>
          <div>- Men's Clothing</div>
          <div>- Tablets & Accessories</div>
        </div>
        <div class="col">
          <div>- Baby & Kids</div>
          <div>- Daily Needs</div>
          <div>- Jewellery</div>
          <div>- Mobile Accessories</div>
          <div>- TV, Audio & Video</div>
        </div>
        <div class="col">
          <div>- Beauty & Personal Care</div>
          <div>- Furnishing</div>
          <div>- Kitchenware</div>
          <div>- Mobile Phones</div>
          <div>- Women's Ethnic Wear</div>
        </div>
        <div class="col">
          <div>- Books</div>
          <div>- Furniture</div>
          <div>- Laptops & Computers</div>
          <div>- Nutrition & Suppliments</div>
          <div>- Women's Western Wear</div>
        </div>
      </div>
      <button>START SHOPPING NOW</button>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
