<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/footer.css" type='text/css'>
  <link rel="stylesheet" href="/css/signing.css" type='text/css'>
  <link rel="stylesheet" href="/css/navbar.css" type='text/css'>
  <link rel="icon" type="image/ico" href="https://www.snapdeal.com/img/icons/finalFavicon.ico">
  <title>Login / SignIn</title>
</head>

<body>
  <%- include('partials/navbar') %>
  <%- include('partials/signing') %>

  <div class='container'>
  </div>
  <%- include('partials/footer') %>
</body>

</html>